body{
    padding: 0;
    background:#100E14;
}

.container{
    max-width: 1240px;
    height: 100%;
    margin: 0 auto;
}

.header{
    padding: 15px 0;
    background: #FFF;
}

.header__content{
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.header__content__nav{
    display: flex;
    gap: 50px;
    margin-right: auto;
    padding: 0 64px;
}

.header__nav-link{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px; 
    letter-spacing: 0.42px;
}

.header__btns{
    display: flex;
    gap: 15px;
    padding: 0 35px ;
}

.header-btn{
    border-color: #FFF;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px; 
    letter-spacing: 0.42px;
    transition: 0.3s;
}

@media screen and (max-width:375px) {
    .header__content{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
}

@media screen and (max-width:806px) {
    .header__content__nav{
        display: none;
    }
}

@media screen and (max-width:885px) {
    .header__content__nav{
        display: none;

    }
    
}


.hero{
    background: #100E14;
}

.hero__content{
    text-align: center;
}

.hero-title{
    color: #FFF;
    text-align: center;;
    font-size: 63px;
    font-style: normal;
    font-weight: 400;
    line-height: 73px; 
    letter-spacing: 2.88px;
    padding: 50px 0 0 0 ;
    margin: 0;
}

.hero-pretitle{
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; 
    letter-spacing: 0.42px;
}

.hero-btn{
    color: #FFF;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.4px; 
    letter-spacing: 0.42px;
    display: inline-flex;
    padding: 15px 46px 24px 30px; 
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    background: #FF4343;
}

.hero-text{
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.42px;
}        

@media screen and (max-width:895px) {
   .hero-title{
    font-size: 48px;
   } 
}

@media screen and(max-width:690px) {
    .hero-pretitle{
        font-size: 20px;
    }
}

@media screen and (max-width:450px) {
    .hero-btn{
        font-size: 16px;
        padding: 10px 30px 10px 20px;
    }
}

@media screen and (max-width:450px) {
    .hero-title{
        font-size: 38px;
        
    }
}

@media screen and(max-width:450px) {
    .hero-pretitle{
        font-size: 16px;
    }
}

.place__content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 40px;
}

.place__content img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width:500px) {
    .place__content img{
        width: 470px;
        height: 250px;
    }
}

@media screen and (max-width:450px) {
    .place__content img{
        width: 320px;
        height: 200px;
    }
}




