body{
    padding: 0;
    background:#100E14;
}

.container{
    max-width: 1240px;
    height: 100%;
    margin: 0 auto;
}

.header{
    padding: 15px 0;
    background: #FFF;
}

.header__content{
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.header__content__nav{
    display: flex;
    gap: 50px;
    margin-right: auto;
    padding: 0 64px;
}

.header__nav-link{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px; 
    letter-spacing: 0.42px;
}

.header__btns{
    display: flex;
    gap: 15px;
    padding: 0 35px ;
}

.header-btn{
    border-color: #FFF;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px; 
    letter-spacing: 0.42px;
    transition: 0.3s;
}

@media screen and (max-width:375px) {
    .header__content{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
}

@media screen and (max-width:806px) {
    .header__content__nav{
        display: none;
    }
}

@media screen and (max-width:885px) {
    .header__content__nav{
        display: none;

    }
    
}


.hero{
    background: #100E14;
}

.hero__content{
    text-align: center;
}

.hero-title{
    color: #FFF;
    text-align: center;;
    font-size: 63px;
    font-style: normal;
    font-weight: 400;
    line-height: 73px; 
    letter-spacing: 2.88px;
    padding: 50px 0 0 0 ;
    margin: 0;
}

.hero-pretitle{
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; 
    letter-spacing: 0.42px;
}

.hero-btn{
    color: #FFF;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.4px; 
    letter-spacing: 0.42px;
    display: inline-flex;
    padding: 15px 46px 24px 30px; 
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    background: #FF4343;
}

.hero-text{
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.42px;
}        

@media screen and (max-width:895px) {
   .hero-title{
    font-size: 48px;
   } 
}

@media screen and(max-width:690px) {
    .hero-pretitle{
        font-size: 20px;
    }
}

@media screen and (max-width:450px) {
    .hero-btn{
        font-size: 16px;
        padding: 10px 30px 10px 20px;
    }
}

@media screen and (max-width:450px) {
    .hero-title{
        font-size: 38px;
        
    }
}

@media screen and(max-width:450px) {
    .hero-pretitle{
        font-size: 16px;
    }
}

.place__content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.place__content img{
    width: 100%;
    height: 100%;
}


@media screen and (max-width:650px) {
    .place__content img{
        width: 320px;
        height: 200px;
    }
}

  .plant__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.plant-title{
    color: #FFF;
font-size: 58px;
font-style: normal;
font-weight: 400;
line-height: 70.4px; 
letter-spacing: 1.92px;
}

.plant-pretitle{
    color: rgba(255, 255, 255, 0.50);
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: 37.8px; 
letter-spacing: 1.08px;
}

.plant-image img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width:1111px) {
    .plant__content{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
} 

@media screen and (max-width:660px) {
    .plant-image img{
        width:100%;
        height: 100%;
    }
} 

@media screen and (max-width:650px) {
    .plant-title{
        font-size: 48px ;
    }
}

@media screen and (max-width:650px) {
    .plant-pretitle{
        font-size: 20px ;
    }
}

@media screen and (max-width:650px) {
    .plant-image img{
        width: 100%;
        height: 100%;
    }
}


 .parrent{ 
    padding: 20px 0;
}

.parrent__content{
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

.parrent-title{
    color: #FFF;
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: 70.4px;
    letter-spacing: 1.92px;
}

.parrent-pretitle{
    color: rgba(255, 255, 255, 0.50);
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 37.8px; 
    letter-spacing: 1.08px;
}

.parrent-text span{
    color: #FFF;
}

.parrent-image img{
    width: 100%;
    height:100%;
    
}


@media screen and (max-width:1230px) {
    .parrent-image img{
       width: 100%;
       height: 100%;
 }
}

@media screen and (max-width:1200px) {
    .parrent__content{
       display: grid;
       grid-template-columns: 1fr;
       text-align: center;
    }
} 

@media screen and (max-width:650px) {
    .parrent-title{
        font-size:43px;
        
    }
}

@media screen and (max-width:650px) {
    .parrent-pretitle{
        font-size: 20px;
    }
}

@media screen and (max-width:650px) {
    .parrent-image img{
        width: 100%;
        height: 100%;
    }
}

/* .inter{
    padding: 20px 0;
}

.inter__content{
    display: flex;
    align-content:center;
    justify-content: space-between;
}

.inter-title{
    color: #FFF;
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: 70.4px;
    letter-spacing: 1.92px;
}

.inter-pretitle{
    color: rgba(255, 255, 255, 0.50);
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 37.8px; 
    letter-spacing: 1.08px;
}

.inter-text span{
    color: #FFF;
}
.inter-image img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width:1200px) {
    .inter__content{
        
    }
}


@media screen and (max-width:1200px) {
    .inter-image img{
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width:650px) {
    .inter-title{
        font-size: 46px;
    }
}

@media screen and (max-width:650px) {
    .inter-image img{
       width: 100%;
       height: 100%;
    }
} */

/* .selling{
    padding: 20px 0;

}

.selling-image img{
    width: 50%;
    height:50%;
    position: relative;
    top: 0
}

.selling__content{
    position: absolute;
    right: 200px;
    left: 60%;
}

.selling-title{
    color: #FFF;
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: 70.4px;
    letter-spacing: 1.92px;
}

.selling-text{
    color: rgba(255, 255, 255, 0.50);
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 37.8px; 
    letter-spacing: 1.08px;
}

.selling-text span{
    color: #FFF;
}


@media screen and (max-width:1200px) {
    .selling__content{
        position: relative;
        left: 0;
        top: 400px;
        text-align: center;
    }
} 

@media screen and (max-width:1200px) {
    .selling-image img{
        position: relative;
        width: 450px;
        height: 300px;
        top: 400px;
    }
}


@media screen and (max-width:450px) {
    .selling-title{
        font-size:46px;
        
    }
}

@media screen and (max-width:450px) {
    .selling-image img{
        width: 320px;
        height: 200px;
    }
}

.craft{
    padding: 50px 0;
}

.craft__content{
    display: flex;
    align-items: center;
    gap: 10px;
}

.craft-title{
    text-align: center;
    color: #FFF;
    font-size: 48px;
}

hr{
    width: 120px;
    height: 5px;
    background: #FF4343;
}

.craft-text{
    text-align: center;
    color: #c9c9c9;
}

.craft__image{
    position: relative;
    width: 251px;
    height: 452px;
}

.craft__image img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:12px;

}

.image-info{
    position: absolute;
    bottom: 20px;
    max-width: 100%;
    padding: 0 25px;
}

.image-title{
    margin: 8px;
    text-align: center;
    color: #FFF;
    text-align: center;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: 34.8px; 
    letter-spacing: 0.42px;
}

.image-text{
    margin: 0;
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.42px;
}

.image-pretitle{
    margin: 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.65);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.42px;
}

@media screen and (max-width:1240px) {
    .craft{
        position: relative;
        top:320px;
    }
}

@media screen and (max-width:1085px) {
    .craft__content{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:500px) {
    .image__info{
      text-align: center;
    }
}

.learn__content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.learn-title{
    color: #8BFFB0;
text-align: center;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
}  */ 
/* 
.learn-pretitle{
    margin: 0;
    color: #FFF;
text-align: center;
font-size: 58px;
font-style: normal;
font-weight: 400;
line-height: 83.2px;
letter-spacing: 1.92px;
}

.learn-text{
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 39.2px; 
    letter-spacing: 0.42px;
}

.pick__content{
    max-width: 1120px;
    height: 433px;
    border-radius: 30px;
    background:#1D1B24;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.pick-title{
    color: #FFF;
text-align: center;
font-size: 63px;
font-style: normal;
font-weight: 400;
line-height: 91px; 
letter-spacing: 2.1px;
} */

/* .pick-text{
    color: rgba(255, 255, 255, 0.70);
text-align: center;
font-size: 27px;
font-style: normal;
font-weight: 400;
line-height: 36.4px; 
letter-spacing: 0.42px;
}

.pick-btn{
    display: inline-flex;
padding: 3px 11px 11px 30px;
justify-content: flex-end;
align-items: center;
gap: 19px;
background: #FF4343;
color: #FFF;
font-size: 23px;
font-style: normal;
font-weight: 400;
line-height: 26.4px; 
letter-spacing: 0.42px;
}
  */ 